.classpath
.settings
eclipse
.project
tmp
test-result
precompiled
*.log
*target/
cred.iml
cred.ipr
.svn
Ciaosir
*.svn/
bus_log
.iws*.iws
*.iws
*.bak
.compiled
ciaosirdir/.compiled
zrb
*.iml
*.ipr
logs
.idea

