html, body {
    background: #f0f0f0;
    font-family: 'Lucida grande', verdana, sans-serif;
}

#login {
    width: 500px;
    margin: 50px auto;
    text-align: center;
}

#login h1 {
    font-weight: bold;
    color: #111;
}

#login .login-div {
    border: 10px solid #ccc;
    background: #fff;
    padding: 10px;
    text-align: left;
}

#login .login-div p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding: 5px;

}

#username-field {
    margin-top: 10px !important;
}

#username-field input,#password-field input,
#signin-field span{
    color: #333;
    height: 30px;
    line-height: 30px;
    width: 250px;
    font-size: 14px;
}

#username-field,#password-field,
#signin-field{
    height: 35px;
    line-height: 35px;
    text-align: center;
}


#signin-field span {
    margin: 3px auto;
    display: block;
    padding: 3px 1px;
    text-align: center;
    background: #2cc185;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#login .error, #login .success  {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px 0;
}

#login .error {
   color: red;
    font-size: 15px;
    display: block;
    width: 250px;
    text-align: center;
    margin: 0 auto;
}

#login .success {
    background: #008800 !important;
}

#login .error-tip{
    display: none;
}
