<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/login.css" />

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/login.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div id="login">

    <h1></h1>

    <div class="login-div">
        <input type="hidden" id="redirectURL" url="${redirectURL}">
        <div class="error-tip error" ></div>

        <div id="username-field">
            <input type="text" class="username login-input" id="username"  placeholder="请输入用户名" value="" />
        </div>
        <div id="password-field">
            <input type="password" class="password login-input" id="password"  placeholder="请输入密码" value="" />
        </div>
        <div id="signin-field">
            <span class="tmbtn login-btn to-login-btn">登录</span>
        </div>

    </div>
</div>

</body>
</html>