#{extends 'webmain.html' /}

<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/admin.css'}" />

<div id="header">
    <div id="logo">
       <h3>Administration</h3>
    </div>
    <ul id="tools">
        <li>
            <a href="/ALLogin/doLogout">登录</a>
        </li>
        <li>
            <a href="/ALLogin/doLogout">退出</a>
        </li>
    </ul>
</div>
<div id="main">
    <ul id="adminMenu">
        <li class="${request.controller == 'Admin' ? 'selected' : ''}">
            <a href="@{CRUD.index()}">My posts</a>
        </li>

        <li class="${request.controller == 'Users' ? 'selected' : ''}">
            <a href="@{UserAdmin.list()}">Users</a>
        </li>
    </ul>
    #{doLayout /}
</div>
<p id="footer">

</p>
